{% extends 'base.html' %} 
{% block title %}Bookings{% endblock %}
<body>
    {% include 'nav.html' %}
{% block content %}
<!--
  UI Design Prototype
  Link : https://dribbble.com/shots/10452538-React-UI-Components
-->
<div class="min-h-screen bg-gray-100 py-6 flex flex-col justify-center sm:py-12">
    <div class="relative py-3 sm:max-w-xl sm:mx-auto">
      <div class="relative px-4 py-10 bg-white mx-8 md:mx-0 shadow rounded-3xl sm:p-10">
        <div class="max-w-md mx-auto">
            <form action="/booking" method="post">
          <div class="flex items-center space-x-5">
            <div class="h-14 w-14 bg-yellow-200 rounded-full flex flex-shrink-0 justify-center items-center text-yellow-500 text-2xl font-mono">i</div>
            <div class="block pl-2 font-semibold text-xl self-start text-gray-700">
              <h2 class="leading-relaxed">Create </h2>
              <p class="text-sm text-gray-500 font-normal leading-relaxed">Create your booking</p>
            </div>
          </div>
          <fdiv class="divide-y divide-gray-200">
            <div class="py-8 text-base leading-6 space-y-4 text-gray-700 sm:text-lg sm:leading-7">
              <div class="flex flex-col">
                <label class="leading-loose">Username</label>
                <input name="user_id" type="text" class="px-4 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600" placeholder="{{user.email}}" readonly>
              </div>
              <div class="flex flex-col">
                <label class="leading-loose">Available Room Type</label>
                <select id="roomSelect" name="room_id" class="px-4 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600">
                    <option value="" id="defaultOption">Select room type</option>
                    {% for room in rooms %}
                        {% if room.hotel_id == hotel_with_city.Hotel.id %}
                            <option value="{{ room.id }}" data-price="{{ room.price }}">{{ room.room_type }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
              <div class="flex flex-col">
                <label class="leading-loose">Room Number</label>
                <select id="roomNumberSelect" name="room_number" class="px-4 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600">
                    <option value="" id="defaultOptionNumber">Select Available No.</option>
                    {% for room in rooms %}
                        {% if room.hotel_id == hotel_with_city.Hotel.id %}
                            <option value="{{ room.room_number }}">{{ room.room_number }}</option>  <!-- Updated line -->
                        {% endif %}
                    {% endfor %}
                </select>
              </div>
              <div class="flex items-center space-x-4">
                <div class="flex flex-col">
                    <label class="leading-loose">Check-in</label>
                    <div class="relative focus-within:text-gray-600 text-gray-400">
                      <input name="checkInDate" id="checkInDate" type="date" class="pr-4 pl-10 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600" placeholder="25/02/2020">
                      <!-- ... -->
                    <div class="absolute left-3 top-2">
                      <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"></path></svg>
                    </div>
                  </div>
                </div>
                <div class="flex flex-col">
                    <label class="leading-loose">Check-out</label>
                    <div class="relative focus-within:text-gray-600 text-gray-400">
                      <input name="checkOutDate" id="checkOutDate" type="date" class="pr-4 pl-10 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600" placeholder="26/02/2020">
                      <!-- ... -->
                    <div class="absolute left-3 top-2">
                      <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"></path></svg>
                    </div>
                  </div>
                </div>
              </div>
              <div class="flex flex-col">
                <label class="leading-loose">Additional Note</label>
                <input type="text" class="px-4 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600" placeholder="Optional">
              </div>
              <div class="flex flex-col">
                <label class="leading-loose">Price: <div id="price" style="font-weight: bold; font-family: 'Courier New', Courier, monospace; float: right;">- :-</div></label>
                
              </div>
            </div>
            <div class="pt-4 flex items-center space-x-4">
                <a href="/profile" ><button class="flex justify-center items-center w-full text-gray-900 px-4 py-3 rounded-md focus:outline-none">
                  <svg class="w-6 h-6 mr-3" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path></svg> Cancel
                </button>
            </a>
                <button type="submit" class="bg-blue-500 flex justify-center items-center w-full text-black px-4 py-3 rounded-md focus:outline-none">Create Booking</button>
            </div>
        </form>
        </div>
        </div>
      </div>
    </div>
  </div>
  <!-- modal -->
  <!-- jQuery CDN -->
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
$(document).ready(function() {
  $('#roomSelect').change(function() {
    var price = $(this).find(':selected').data('price');
    $('#price').text('$' + price);
    $('#defaultOption').attr('disabled', true);
  });
});
</script>

<script>
    $(document).ready(function() {
      $('#roomNumberSelect').change(function() {
        $('#defaultOptionNumber').attr('disabled', true);
      });
    });
    </script>
 <script>
    $(document).ready(function() {
      $('#checkInDate').change(function() {
        var checkInDate = $(this).val();
        $('#checkOutDate').attr('min', checkInDate);
      });
    });
    </script>   

{% endblock %}
</body>
</html>
