<nav class="flex-wrap lg:flex items-center py-14 xl:relative z-10" x-data="{navbarOpen:false}">

    <div class="flex items-center justify-between mb-10 lg:mb-0">
        <img src="static/image/navbar-logo.png" alt="Logo img" class="w-52 md:w-80 lg:w-full">

        <button class="lg:hidden w-10 h-10 ml-auto flex items-center justify-center text-red-700 border border-red-700 rounded-md" @click="navbarOpen = !navbarOpen">
            <i data-feather="menu"></i>
        </button>
    </div>

    <ul class="lg:flex flex-col lg:flex-row lg:items-center lg:mx-auto lg:space-x-8 xl:space-x-16" :class="{'hidden':!navbarOpen,'flex':navbarOpen}">

        <li class="font-semibold text-gray-900 text-lg hover:text-gray-400 transition ease-in-out duration-300 mb-5 lg:mb-0">
            <a href="#">Landing</a>
        </li>

        <li class="font-semibold text-gray-900 text-lg hover:text-gray-400 transition ease-in-out duration-300 mb-5 lg:mb-0">
            <a href="#">Pages</a>
        </li>

        <li class="font-semibold text-gray-900 text-lg hover:text-gray-400 transition ease-in-out duration-300 mb-5 lg:mb-0">
            <a href="#">Contact</a>
        </li>

        <li class="font-semibold text-gray-900 text-lg hover:text-gray-400 transition ease-in-out duration-300 mb-5 lg:mb-0">
            <a href="#">About</a>
        </li>

    </ul>

    <a class="px-5 py-3 lg:block border-2 border-red-700 rounded-lg font-semibold text-red-700 text-lg hover:bg-red-700 hover:text-white transition ease-linear duration-500" :class="{'hidden':!navbarOpen,'flex':navbarOpen}">
        Book a room
    </a> <br>
    </br>
    
</nav>