{% include 'base.html' %}

    <body class="font-body">
   <!-- home section -->
        <section class="bg-white mb-20 md:mb-52 xl:mb-72">

            <div class="container max-w-screen-xl mx-auto px-4">


                {% include 'nav.html' %} 

                <div class="flex items-center justify-center xl:justify-start" style="background-image: url(''); background-size: cover; background-position: center;">

                    <div class="mt-28 text-center xl:text-left">
                        <h1 class="font-semibold text-4xl md:text-6xl lg:text-7xl text-gray-900 leading-normal mb-6">Get your dream <br> house now</h1>

                        <p class="font-normal text-xl text-gray-400 leading-relaxed mb-12">Having a sweet home is everyone's dream. Have you <br> owned your dream house?</p>

                        <button class="px-6 py-4 bg-red-500 text-white font-semibold text-lg rounded-xl hover:bg-red-900 transition ease-in-out duration-500">Contact us</button>
                    </div>

                </div>
                <!--here is a test line-->
                <div class="max-w-md mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-2xl">
                    <div class="md:flex">
                      <div class="md:shrink-0">
                        <img class="h-48 w-full object-cover md:h-full md:w-48" src="static/image/travel.jpg" alt="Modern building architecture">
                      </div>
                      <div class="p-8">
                        <div class="uppercase tracking-wide text-sm text-indigo-500 font-semibold">Company retreats</div>
                        <a href="#" class="block mt-1 text-lg leading-tight font-medium text-black hover:underline">Incredible accommodation for your team</a>
                        <p class="mt-2 text-slate-500">Looking to take your team away on a retreat to enjoy awesome food and take in some sunshine? We have a list of places to do just that.</p>
                      </div>
                    </div>
                  </div>

            </div> <!-- container.// -->

        </section>
        <!-- home section //nd -->
    
        <!-- feature section -->
        <section class="bg-white py-10 md:py-16 xl:relative">

            <div class="container max-w-screen-xl mx-auto px-4">

            <div class="flex flex-col xl:flex-row justify-end">

                    <div class="hidden xl:block xl:absolute left-0 bottom-0 w-full">
                        <img src="static/image/feature-img.png" alt="Feature img">
                    </div>

                    <div class="">

                        <h1 class="font-semibold text-gray-900 text-xl md:text-4xl text-center leading-normal mb-6">Choice of various types of <br> house</h1>

                        <p class="font-normal text-gray-400 text-md md:text-xl text-center mb-16">We provide a wide of selection of home types for you and your <br> family and are free to choose a home model</p>

                        <div class="flex flex-col md:flex-row justify-center xl:justify-start space-x-4 mb-20">
                            <div class="px-8 h-20 mx-auto md:mx-0 bg-gray-200 rounded-lg flex items-center justify-center mb-5 md:mb-0">
                                <i data-feather="check-circle" class=" text-red-900"></i>
                            </div>
                            
                            <div class="text-center md:text-left">
                                <h4 class="font-semibold text-gray-900 text-2xl mb-2">Best Home Guarantee</h4>
                                <p class="font-normal text-gray-400 text-xl leading-relaxed">We guarantees the quality of your home you bought <br> from D’house</p>
                            </div>
                        </div>

                        <div class="flex flex-col md:flex-row justify-center xl:justify-start space-x-4 mb-20">
                            <div class="px-8 h-20 mx-auto md:mx-0 bg-gray-200 rounded-lg flex items-center justify-center mb-5 md:mb-0">
                                <i data-feather="lock" class=" text-red-900"></i>
                            </div>

                            <div class="text-center md:text-left">
                                <h4 class="font-semibold text-gray-900 text-2xl mb-2">Safe Transaction</h4>
                                <p class="font-normal text-gray-400 text-xl leading-relaxed">Your transactions will always be kept confidential <br> and will get discounted</p>
                            </div>
                        </div>

                        <div class="flex flex-col md:flex-row justify-center xl:justify-start space-x-4">
                            <div class="px-8 h-20 mx-auto md:mx-0 bg-gray-200 rounded-lg flex items-center justify-center mb-5 md:mb-0">
                                <i data-feather="credit-card" class=" text-red-900"></i>
                            </div>

                            <div class="text-center md:text-left">
                                <h4 class="font-semibold text-gray-900 text-2xl mb-2">Low and Cost Home Taxes</h4>
                                <p class="font-normal text-gray-400 text-xl leading-relaxed">By buying a house from D’house, you will get a tax <br> discount</p>
                            </div>
                        </div>

                    </div>

            </div>

            </div> <!-- container.// -->

        </section>
        <!-- feature section //end -->
        
        <!-- gallery section -->
        <section class="bg-white py-10 md:py-16">

            <div class="container max-w-screen-xl mx-auto px-4">

                <h1 class="font-semibold text-gray-900 text-4xl text-center mb-10">Our Gallery</h1>

                <div class="hidden md:block flex items-center text-center space-x-10 lg:space-x-20 mb-12">
                    <a href="#" class="px-6 py-2 bg-red-800 text-white font-semibold text-xl rounded-lg hover:bg-red-600 transition ease-in-out duration-500">All</a>
                    <a href="#" class="px-6 py-2 text-gray-900 font-normal text-xl rounded-lg hover:bg-gray-200 hover:text-gray-400 transition ease-in-out duration-500">Exterior</a>
                    <a href="#" class="px-6 py-2 text-gray-900 font-normal text-xl rounded-lg hover:bg-gray-200 hover:text-gray-400 transition ease-in-out duration-500">Interior</a>
                    <a href="#" class="px-6 py-2 text-gray-900 font-normal text-xl rounded-lg hover:bg-gray-200 hover:text-gray-400 transition ease-in-out duration-500">Building</a>
                </div>

                <div class="flex space-x-4 md:space-x-6 lg:space-x-8">
                    <div>
                        <img src="static/image/gallery-1.png" alt="image" class="mb-4 md:mb-6 lg:mb-8 hover:opacity-75 transition ease-in-out duration-500">
                        <img src="static/image/gallery-4.png" alt="image" class="hover:opacity-75 transition ease-in-out duration-500">
                    </div>

                    <div>
                        <img src="static/image/gallery-2.png" alt="image" class="mb-4 md:mb-6 lg:mb-8 hover:opacity-75 transition ease-in-out duration-500">
                        <img src="static/image/gallery-5.png" alt="image" class="mb-3 md:mb-6 lg:mb-8 hover:opacity-75 transition ease-in-out duration-500">
                        <img src="static/image/gallery-6.png" alt="image" class="hover:opacity-75 transition ease-in-out duration-500">
                    </div>

                    <div>
                        <img src="static/image/gallery-3.png" alt="image" class="mb-4 md:mb-6 lg:mb-8 hover:opacity-75 transition ease-in-out duration-500">
                        <img src="static/image/gallery-7.png" alt="image" class="hover:opacity-75 transition ease-in-out duration-500">
                    </div>
                </div>

            </div> <!-- container.// -->

        </section>
        <!-- gallery section //end -->

        <!-- testimoni section -->
        <section class="bg-white py-10 md:py-16">

            <div class="container max-w-screen-xl mx-auto px-4 xl:relative">

                <p class="font-normal text-gray-400 text-lg md:text-xl text-center uppercase mb-6">Testimonial</p>

                <h1 class="font-semibold text-gray-900 text-2xl md:text-4xl text-center leading-normal mb-14">What People Say <br> About D’house</h1>

                <div class="hidden xl:block xl:absolute top-0">
                    <img src="static/image/testimoni-1.png" alt="Image">
                </div>

                <div class="hidden xl:block xl:absolute top-32">
                    <img src="static/image/testimoni-2.png" alt="Image">
                </div>

                <div class="flex flex-col md:flex-row md:items-center justify-center md:space-x-8 lg:space-x-12 mb-10 md:mb-20">

                    <div class="bg-gray-100 rounded-lg mb-10 md:mb-0">
                        <img src="static/image/testimoni-3.png" alt="Image" class="mx-8 my-8">

                        <div class="flex items-center gap-5 mx-8">
                            <i data-feather="star" class="text-yellow-500"></i>
                            <i data-feather="star" class="text-yellow-500"></i>
                            <i data-feather="star" class="text-yellow-500"></i>
                            <i data-feather="star" class="text-yellow-500"></i>
                            <i data-feather="star" class="text-yellow-500"></i>
                        </div>

                        <p class="font-normal text-sm lg:text-md text-gray-400 mx-8 my-8">I recommend anyone to buy house on <br> D’house. I received great customer service <br> from the specialists who helped me.</p>

                        <h3 class="font-semibold text-gray-900 text-xl md:text-2xl lg:text-3xl mx-8 mb-8">Brooklyn Simmons</h3>
                    </div>

                    <div class="bg-gray-100 rounded-lg">
                        <img src="static/image/testimoni-4.png" alt="Image" class="mx-8 my-8">

                        <div class="flex items-center gap-5 mx-8">
                            <i data-feather="star" class="text-yellow-500"></i>
                            <i data-feather="star" class="text-yellow-500"></i>
                            <i data-feather="star" class="text-yellow-500"></i>
                            <i data-feather="star" class="text-yellow-500"></i>
                            <i data-feather="star" class="text-yellow-500"></i>
                        </div>

                        <p class="font-normal text-sm lg:text-md text-gray-400 mx-8 my-8">D’house is the best property agent in the <br> world. I received great customer service <br> from the D’house agent</p>

                        <h3 class="font-semibold text-gray-900 text-xl md:text-2xl lg:text-3xl mx-8 mb-8">Ralph Edwards</h3>
                    </div>

                </div>

            </div> <!-- container.// -->

        </section>
        <!-- testimoni section //end -->

        <!-- book section -->
        <section class="bg-white py-10 md:py-16">

            <div class="container max-w-screen-xl mx-auto px-4 xl:relative">

                <div class="bg-red-800 flex flex-col lg:flex-row items-center justify-evenly py-14 rounded-3xl">

                    <div class="text-center lg:text-left mb-10 lg:mb-0">
                        <h1 class="font-semibold text-white text-4xl md:text-5xl lg:text-7xl leading-normal mb-4">Talk to us <br> to discuss</h1>

                        <p class="font-normal text-white text-md md:text-xl">Need more time to discuss? Won’t worry, we are <br> ready to help you. You can fill in the column on the <br> right to book a meeting with us. Totally free.</p>
                    </div>

                    <div class="hidden xl:block xl:absolute right-0">
                        <img src="static/image/book.png" alt="Image">
                    </div>

                    <div class="hidden md:block bg-white xl:relative px-6 py-3 rounded-3xl">
                        <div class="py-3">
                            <h3 class="font-semibold text-gray-900 text-3xl">Book a meeting</h3>
                        </div>

                        <!--form-->
                         

<form class="max-w-sm mx-auto">
    <div class="mb-5">
      <label for="email" class="block mb-2 text-sm font-medium text-gray-900 white:text-black">Your email</label>
      <input type="email" id="email" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" placeholder="name@flowbite.com" required />
    </div>
    <div class="mb-5">
      <label for="password" class="block mb-2 text-sm font-medium text-gray-900 white:text-black">Your password</label>
      <input type="password" id="password" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" required />
    </div>
    <div class="mb-5">
      <label for="repeat-password" class="block mb-2 text-sm font-medium text-gray-900 white:text-black">Repeat password</label>
      <input type="password" id="repeat-password" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" required />
    </div>
    <div class="flex items-start mb-5">
      <div class="flex items-center h-5">
        <input id="terms" type="checkbox" value="" class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800" required />
      </div>
      <label for="terms" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">I agree with the <a href="#" class="text-blue-600 hover:underline dark:text-blue-500">terms and conditions</a></label>
    </div>
    <button type="submit" class="w-full py-4 font-semibold text-lg text-white bg-red-700 rounded-xl hover:bg-red-900 transition ease-in-out duration-500">Register new account</button>
  </form>
  
                        <!--form-->
                    </div>

                </div>

            </div> <!-- container.// -->

        </section>
        <!-- book section //end -->

     {% include 'footer.html' %}

        <script>
            feather.replace()
        </script>

    </body>
</html>